@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

[data-theme="dark"] {
    --background: #04061f;
    --foreground: #bdbcbc;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-400 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.montserrat-700 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: .1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 0;
}

.hero-bg {
    /* background-image: url('https://img.freepik.com/free-vector/neon-light-background_53876-67235.jpg?t=st=1743873665~exp=1743877265~hmac=11d28c3d71c32fd3af378e4612533d31ac21598b58e11243e156279af2fa729d&w=1380');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
}